from playwright.sync_api import sync_playwright

def test_{{ story.id.replace("-","_") }}():
    with sync_playwright() as p:
        browser = p.chromium.launch(headless=True)
        context = browser.new_context()
        page = context.new_page()
        {% for action in story.actions -%}
        {% if action.type == '$click' -%}
        page.locator("{{ action.selector }}").click()
        {% if action.expected_url -%}
        assert page.url == "{{ action.expected_url }}"
        {% endif -%}
        {% elif action.type == '$input' -%}
        page.locator("{{ action.selector }}").fill("{{ action.value }}")
        assert page.locator("{{ action.selector }}").input_value() == "{{ action.value }}"
        {% elif action.type == '$navigate' -%}
        page.goto("{{ action.url }}")
        assert page.url == "{{ action.url }}"
        {% endif -%}
        {% endfor -%}
        browser.close()
